In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.tsv', sep='\t')
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [3]:
df = df[['Phrase', 'Sentiment']].head(1000)
df.head()

                                              Phrase  Sentiment
0  A series of escapades demonstrating the adage ...          1
1  A series of escapades demonstrating the adage ...          2
2                                           A series          2
3                                                  A          2
4                                             series          2

In [4]:
from transformers import BertTokenizer

In [5]:
tokenizer = BertTokenizer.from_pretrained('bert-base-cased')

In [6]:
def tokenize(sentence):
    tokens = tokenizer.encode_plus(sentence, max_length=512,
                                   truncation=True, padding='max_length',
                                   add_special_tokens=True, return_token_type_ids=False,
                                   return_tensors='tf')
    return tokens['input_ids'], tokens['attention_mask']

In [7]:
import numpy as np

In [8]:
Xids = np.zeros((len(df), 512))
Xmask = np.zeros((len(df), 512))

In [9]:
Xids.shape

(1000, 512)

In [10]:
Xids

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [11]:
Xmask

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [12]:
for i, sequence in enumerate(df['Phrase']):
    tokens = tokenize(sequence)
    Xids[i, :], Xmask[i, :] = tokens[0], tokens[1]

2022-08-04 11:03:19.571298: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-08-04 11:03:19.575586: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-08-04 11:03:19.575781: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-08-04 11:03:19.576412: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-08-04 11:03:19.577254: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-08-04 11:03:19.577415: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-08-04 11:03:19.577557: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-08-04 11:03:19.880777: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-08-04 11:03:19.880962: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-08-04 11:03:19.881112: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-08-04 11:03:19.881244: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 5612 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 2070 SUPER, pci bus id: 0000:0a:00.0, compute capability: 7.5

In [13]:
arr = df['Sentiment'].values

In [14]:
arr

array([1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3,
       3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 3, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 3, 2,
       4, 3, 2, 3, 3, 3, 2, 2, 4, 2, 3, 4, 2, 2, 2, 1, 2, 2, 2, 3, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 0, 2, 0, 2, 1, 1, 1, 2, 2,
       1, 2, 2, 2, 2, 2, 3, 4, 4, 3, 3, 3, 3, 4, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 3, 2, 1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 1, 2, 2, 1, 2, 3, 3, 3, 1,
       2, 2, 1, 0, 2, 0, 1, 2, 1, 1, 2, 2, 4, 3, 2, 2, 3, 2, 4, 2, 3, 2,
       4, 3, 3, 3, 4, 2, 4, 4, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2,
       1, 2, 1, 0, 2, 1, 2, 2, 2, 1, 0, 1, 0, 1, 1, 3, 2, 3, 2, 3, 2, 2,
       3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 2, 1, 1, 0, 2, 1,
       0, 0, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2, 4, 3, 2, 2, 2, 1,
       2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 2, 3, 2, 2, 3, 4, 3, 3, 1, 2,
       2, 3, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 2, 1, 1, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       4, 2, 2, 4, 3, 2, 4, 2, 3, 2, 4, 3, 2, 3, 3, 2, 3, 2, 2, 2, 3, 2,
       2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 3, 1, 1, 2, 2, 2, 3, 3, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 4, 2, 2, 1, 3, 3, 3, 3, 2, 2, 1, 0, 2, 2, 2, 1, 1, 2, 1, 2, 1,
       2, 2, 2, 3, 4, 4, 3, 3, 3, 4, 3, 3, 4, 3, 4, 2, 3, 3, 3, 3, 3, 3,
       2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 2, 2, 2, 2, 2, 4, 2, 3, 3,
       2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 2, 2, 3, 4, 3, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 1, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 3, 2, 3, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 4, 4, 3, 4, 3, 3, 2, 2, 2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       3, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1,
       2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 2, 2, 3, 2, 2,
       3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 1, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 2, 2, 2, 3, 3, 4, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 3, 2, 3, 3, 2, 2,
       2, 3, 3, 2, 2, 2, 3, 3, 2, 2, 1, 2, 2, 2, 1, 1, 2, 3, 2, 2, 2, 2,
       2, 2, 2, 3, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1,
       1, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 3, 2, 1,
       1, 2, 2, 3, 2, 3, 2, 4, 3, 2, 3, 2, 2, 2, 2, 2, 3, 3, 3, 2, 2, 1,
       2, 3, 2, 2, 2, 3, 2, 2, 1, 1, 2, 2, 0, 1, 1, 1, 2, 2, 2, 2, 1, 1,
       1, 2, 1, 0, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2, 3, 1, 2, 2, 2, 2, 3, 2,
       2, 2, 2, 3, 2, 3, 2, 2, 2, 3, 4, 2, 3, 2, 2, 2, 2, 2, 2, 3, 2, 2,
       2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 0, 1, 1, 1, 1,
       2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 3, 2, 2, 2,
       2, 2, 2, 2, 3, 2, 4, 4, 3, 2, 3, 1, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2,
       3, 2, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, 1, 2, 3, 1, 2, 2, 2, 2, 1, 1,
       1, 1, 1, 2, 2, 3, 2, 2, 1, 1])

In [15]:
labels = np.zeros((arr.size, arr.max()+1))

In [16]:
labels[np.arange(arr.size), arr] = 1

In [17]:
labels

array([[0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [18]:
with open('movie-xids.npy', 'wb') as f:
    np.save(f, Xids)
with open('movie-xmask.npy', 'wb') as f:
    np.save(f, Xmask)
with open('movie-labels.npy', 'wb') as f:
    np.save(f, labels)

In [19]:
del df, Xids, Xmask, labels

In [20]:
import tensorflow as tf

In [21]:
with open('movie-xids.npy', 'rb') as f:
    Xids = np.load(f, allow_pickle=True)
with open('movie-xmask.npy', 'rb') as f:
    Xmask = np.load(f, allow_pickle=True)
with open('movie-labels.npy', 'rb') as f:
    labels = np.load(f, allow_pickle=True)

In [22]:
#gpu_devices = tf.config.experimental.list_physical_devices('GPU')
#for device in gpu_devices: tf.config.experimental.set_memory_growth(device, True)  # required to avoid GPU LSTM Internal Error
tf.config.experimental.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [23]:
tf.__version__

'2.7.1'

In [24]:
data = tf.data.Dataset.from_tensor_slices((Xids, Xmask, labels))  # [750000:850000]

In [25]:
SHUFFLE = 100000
BATCH_SIZE = 16

In [26]:
def map_func(input_ids, masks, labels):
    return {'input_ids': input_ids, 'attention_mask': masks}, labels

In [27]:
data = data.map(map_func)

In [28]:
data = data.shuffle(SHUFFLE).batch(BATCH_SIZE) #, drop_remainder=True)

In [29]:
SIZE = Xids.shape[0]/BATCH_SIZE
SIZE

62.5

In [30]:
SPLIT = 0.9

train = data.take(int(SIZE*SPLIT))
val = data.skip(int(SIZE*SPLIT))

del data

---

# Model Setup

In [31]:
from transformers import TFAutoModel

In [32]:
bert = TFAutoModel.from_pretrained('bert-base-cased')  #, output_hidden_states=False

Some layers from the model checkpoint at bert-base-cased were not used when initializing TFBertModel: ['mlm___cls', 'nsp___cls']
- This IS expected if you are initializing TFBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
All the layers of TFBertModel were initialized from the model checkpoint at bert-base-cased.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

In [33]:
bert.summary()

Model: "tf_bert_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 bert (TFBertMainLayer)      multiple                  108310272

=================================================================
Total params: 108,310,272
Trainable params: 108,310,272
Non-trainable params: 0
_________________________________________________________________

In [62]:
input_ids = tf.keras.layers.Input(shape=(512,), name='input_ids', dtype='int32')
mask = tf.keras.layers.Input(shape=(512,), name='attention_mask', dtype='int32')

embeddings = bert.bert(input_ids, attention_mask=mask)[0]  # we access the transformer model within our bert object using the bert attribute (eg bert.bert instead of bert)

x = tf.keras.layers.Dropout(0.1)(embeddings)
x = tf.keras.layers.GlobalMaxPool1D()(x)
y = tf.keras.layers.Dense(5, activation='softmax', name='outputs')(x)

model = tf.keras.Model(inputs=[input_ids, mask], outputs=y)

model.layers[2].trainable = False

In [63]:
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_ids (InputLayer)         [(None, 512)]        0           []

 attention_mask (InputLayer)    [(None, 512)]        0           []

 bert (TFBertMainLayer)         TFBaseModelOutputWi  108310272   ['input_ids[0][0]',
                                thPooling(last_hidd               'attention_mask[0][0]']
                                en_state=(None, 512
                                , 768),
                                 pooler_output=(Non
                                e, 768),
                                 hidden_states=None
                                , attentions=None)

 dropout_75 (Dropout)           (None, 512, 768)     0           ['bert[1][0]']

 global_max_pooling1d_1 (Global  (None, 768)         0           ['dropout_75[0][0]']
 MaxPooling1D)

 outputs (Dense)                (None, 5)            3845        ['global_max_pooling1d_1[0][0]']

==================================================================================================
Total params: 108,314,117
Trainable params: 3,845
Non-trainable params: 108,310,272
__________________________________________________________________________________________________

In [64]:
optimizer = tf.keras.optimizers.Adam(lr=0.01, decay=1e-6)
loss = tf.keras.losses.CategoricalCrossentropy()
acc = tf.keras.metrics.CategoricalAccuracy('accuracy')

model.compile(optimizer=optimizer, loss=loss, metrics=[acc])

In [65]:
# 800K
history = model.fit(
    train,
    validation_data=val,
    epochs=20
)

Epoch 1/20
56/56 [==============================] - 37s 529ms/step - loss: 1.8634 - accuracy: 0.5725 - val_loss: 1.1174 - val_accuracy: 0.6442
Epoch 2/20
56/56 [==============================] - 28s 500ms/step - loss: 1.0900 - accuracy: 0.6540 - val_loss: 1.2089 - val_accuracy: 0.5192
Epoch 3/20
56/56 [==============================] - 28s 502ms/step - loss: 1.2028 - accuracy: 0.6462 - val_loss: 0.8759 - val_accuracy: 0.6250
Epoch 4/20
56/56 [==============================] - 28s 502ms/step - loss: 1.0931 - accuracy: 0.6652 - val_loss: 0.9724 - val_accuracy: 0.6346
Epoch 5/20
56/56 [==============================] - 28s 504ms/step - loss: 1.0744 - accuracy: 0.6908 - val_loss: 1.2056 - val_accuracy: 0.5577
Epoch 6/20
56/56 [==============================] - 29s 515ms/step - loss: 0.9969 - accuracy: 0.6942 - val_loss: 0.6319 - val_accuracy: 0.7692
Epoch 7/20
56/56 [==============================] - 29s 517ms/step - loss: 0.8113 - accuracy: 0.7132 - val_loss: 0.5161 - val_accuracy: 0.7981
Epoch 8/20
56/56 [==============================] - 29s 515ms/step - loss: 0.8570 - accuracy: 0.7176 - val_loss: 0.7206 - val_accuracy: 0.7788
Epoch 9/20
56/56 [==============================] - 29s 517ms/step - loss: 0.8145 - accuracy: 0.7121 - val_loss: 0.5428 - val_accuracy: 0.7885
Epoch 10/20
56/56 [==============================] - 29s 518ms/step - loss: 0.7600 - accuracy: 0.7221 - val_loss: 0.6300 - val_accuracy: 0.7308
Epoch 11/20
56/56 [==============================] - 29s 515ms/step - loss: 0.8645 - accuracy: 0.7031 - val_loss: 0.4743 - val_accuracy: 0.7981
Epoch 12/20
56/56 [==============================] - 29s 522ms/step - loss: 0.9734 - accuracy: 0.6975 - val_loss: 0.6371 - val_accuracy: 0.7692
Epoch 13/20
56/56 [==============================] - 29s 518ms/step - loss: 0.8782 - accuracy: 0.7366 - val_loss: 0.8869 - val_accuracy: 0.6250
Epoch 14/20
56/56 [==============================] - 29s 514ms/step - loss: 0.9733 - accuracy: 0.7009 - val_loss: 0.5444 - val_accuracy: 0.8558
Epoch 15/20
56/56 [==============================] - 29s 513ms/step - loss: 0.8739 - accuracy: 0.7310 - val_loss: 0.8673 - val_accuracy: 0.6538
Epoch 16/20
56/56 [==============================] - 29s 516ms/step - loss: 0.9077 - accuracy: 0.7254 - val_loss: 0.4302 - val_accuracy: 0.8365
Epoch 17/20
56/56 [==============================] - 28s 504ms/step - loss: 0.7604 - accuracy: 0.7433 - val_loss: 0.8448 - val_accuracy: 0.7212
Epoch 18/20
56/56 [==============================] - 28s 504ms/step - loss: 0.9644 - accuracy: 0.7310 - val_loss: 0.7158 - val_accuracy: 0.7308
Epoch 19/20
56/56 [==============================] - 28s 508ms/step - loss: 0.6550 - accuracy: 0.7690 - val_loss: 0.8026 - val_accuracy: 0.6827
Epoch 20/20
56/56 [==============================] - 29s 510ms/step - loss: 0.8622 - accuracy: 0.7400 - val_loss: 0.7594 - val_accuracy: 0.7308

### Save

In [59]:
#model.get_config()

In [67]:
model.save('sentiment_model')

WARNING:absl:Found untraced functions such as embeddings_layer_call_fn, embeddings_layer_call_and_return_conditional_losses, encoder_layer_call_fn, encoder_layer_call_and_return_conditional_losses, pooler_layer_call_fn while saving (showing 5 of 1065). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: sentiment_model/assets

INFO:tensorflow:Assets written to: sentiment_model/assets

In [69]:
del model

---

### Load

In [80]:
model = tf.keras.models.load_model('sentiment_model')
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_ids (InputLayer)         [(None, 512)]        0           []

 attention_mask (InputLayer)    [(None, 512)]        0           []

 bert (TFBertMainLayer)         TFBaseModelOutputWi  108310272   ['input_ids[0][0]',
                                thPooling(last_hidd               'attention_mask[0][0]']
                                en_state=(None, 512
                                , 768),
                                 pooler_output=(Non
                                e, 768),
                                 hidden_states=None
                                , attentions=None)

 dropout_75 (Dropout)           (None, 512, 768)     0           ['bert[0][0]']

 global_max_pooling1d_1 (Global  (None, 768)         0           ['dropout_75[0][0]']
 MaxPooling1D)

 outputs (Dense)                (None, 5)            3845        ['global_max_pooling1d_1[0][0]']

==================================================================================================
Total params: 108,314,117
Trainable params: 3,845
Non-trainable params: 108,310,272
__________________________________________________________________________________________________

### Test

In [81]:
from transformers import BertTokenizer

tokenizer = BertTokenizer.from_pretrained("bert-base-cased")

def prep_data(text: str, tokenizer: BertTokenizer = tokenizer):
    tokens = tokenizer(text, max_length=512, truncation=True,
                       padding="max_length", add_special_tokens=True,
                       return_tensors="tf")
    return dict(input_ids=tokens["input_ids"],
                attention_mask=tokens["attention_mask"])

In [82]:
probs = model.predict(prep_data("hello world"))[0]

In [83]:
np.argmax(probs)

4

In [84]:
np.argmax(model.predict(prep_data("this movie was amazing!"))[0])

4

In [96]:
np.argmax(model.predict(prep_data("this was so bad"))[0])

0

In [102]:
df = pd.read_csv("test.tsv", sep="\t").drop_duplicates(subset=["SentenceId"], keep="first")

In [103]:
df.head()

     PhraseId  SentenceId                                             Phrase
0      156061        8545  An intermittently pleasing but mostly routine ...
15     156076        8546  Kidman is really the only thing that 's worth ...
93     156154        8547  Once you get into its rhythm ... the movie bec...
117    156178        8548  I kept wishing I was watching a documentary ab...
158    156219        8549  Kinnear does n't aim for our sympathy , but ra...

In [104]:
for i, row in df.iterrows():
    token = prep_data(row.Phrase)
    probs = model.predict(tokens)
    pred = np.argmax(probs)
    df.loc[i, "sentiment"] = pred

In [105]:
df.head()

,PhraseId,SentenceId,Phrase,sentiment
0,156061,8545,An intermittently pleasing but mostly routine ...,1.0
15,156076,8546,Kidman is really the only thing that 's worth ...,1.0
93,156154,8547,Once you get into its rhythm ... the movie bec...,1.0
117,156178,8548,I kept wishing I was watching a documentary ab...,1.0
158,156219,8549,"Kinnear does n't aim for our sympathy , but ra...",1.0